@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1 class="justify-content-center align-content-center d-flex mt-2 mb-4"> كلمة من الرئيس</h1>

<table class="table">

    <tr>
        <td><img src="~/Images/ippo.png" style="" /></td>
        <td>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
        </td>
    </tr>
</table>