@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h1 class="justify-content-center align-content-center d-flex mt-2 mb-4"> كلمة من الرئيس</h1>

<table class="table table-bordered border-danger">

    <tr>
        <td><img src="@Url.Content("~/Hamdi/Images/ippo.png")" /></td>
        <td>
            <p>
                Emmak milky way
            </p>
        </td>
    </tr>
</table>